*{
    margin : 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
:root{
    cor--primaria-: #EBF6F7;
    cor--secundaria-:  #212122;
}

body{
    background-color: var(--cor--primaria-);
}
nav{
    color: var(--cor--secundaria-);
    margin-top: 15%;
    padding: 1px;
    font-size: 2rem;
    animation: 3s;
    animation-name: subir;

    justify-content: space-between;
    justify-items: center;
}
nav input{
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    
}
nav h1{
    margin-bottom: 10px;
    
}
nav h3{
    margin-bottom: 20px;
    font-size: 25px;
}
nav input[type="submit"]{
    width: 400px;
    transition: .5s ease-in-out;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(47, 189, 47);
    cursor: pointer;
    ;
}
nav input[type="submit"]:hover{
    background-color: rgb(28, 164, 28);
    scale: 1.05;
    transition: .5s ease-in-out;
}
nav input[type="text"]{
    transition: .5s ease-in-out;
    width: 81%;
    text-align: left;
    height: 30px;
    margin: auto;
}
nav input[type="text"]:focus{
    outline: none;
    scale: 1.01;
    border: 2px solid rgb(66, 36, 214);
    transition: .5s ease-in-out;
}
nav.fechar{
    animation: 3s;
    animation-name: subir;
    display: none;
}
@keyframees subir{
    form{
        transform: translateY(0);
        opacity: 1;
    }

    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}
#container{
    display: none;
}
#container.active{
    display: block; 
    
}